/* モーダル */
body.modal-open {
  overflow: hidden;
  --header-height: 80px;
}

/* body固定時のスタイル調整 */
body[style*="position: fixed"] {
  overflow-y: scroll; /* スクロールバーを常に表示して画面のちらつきを防止 */
}

.modal dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.50);
}

.modal {
  position: relative;
}

.modal dialog {
  overscroll-behavior: none;
  overflow-y: hidden;
  width: calc(100vw - (40px * 2));
  max-width: 1200px;
  max-height: calc(100dvh - (2 * var(--header-height)));
  padding: 0;
  border-radius: 8px;
  border: 1px solid var(--border-gray);
  background: var(--background-color);
  position: relative;

  @media (width <= 768px) {
    width: calc(100vw - (24px * 2));
  }
}

.modal dialog .modal-content {
  box-sizing: border-box;
  overflow-y: auto;
  overscroll-behavior: none;
  width: 100%;
  max-height: 100vh;
  text-align: center;
  padding: 40px 64px;

  @media (width <= 768px) {
    padding: 40px 16px;
  }
}

/* モーダルの閉じるボタン:DOMだとdialogの外に出せないので疑似要素で実装 */
.modal dialog::before {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background: url("../../icons/icon-close.svg") no-repeat center / contain !important;
  margin: 0 !important;
  position: fixed;
  /* top: calc((100dvh - (2 * var(--header-height)) - 48px) / 2 - 90px); */
  top: calc(50% - 200px);
  right: 40px;
  cursor: pointer;
  z-index: 2000;

  @media (width >= 1240px) {
    right: calc((100vw - 1200px) / 2);
  }

  @media (width <= 768px) {
    width: 20px;
    height: 20px;
    right: 24px;
    top: calc(50% - 220px);
  }
}

/* モーダルの中身 */
.modal h2{
  margin-top: 0;
}
.modal h2 + p{
  margin-top: 16px;
  line-height: 150%;
}

/* ボタンラッパーのスタイル */
.modal .button-wrapper {
  display: flex;
  gap: 16px;
  margin-top: 32px;

  @media (width <= 768px) {
    flex-direction: column;
  }
}

.modal p.button-container {
  width: calc((100% - 16px) / 2);

  @media (width <= 768px) {
    width: 100%;
  }
}

.modal .button-container a.button {
  width: 100%;
  font-size: 14px;
  padding: 12px 44px 12px 24px;
  text-align: center;

  @media (width <= 768px) {
    padding: 12px 34px 12px 16px;
  }

  &::after{
    right: 24px;

    @media (width <= 768px) {
      right: 16px;
    }
  }
}

.modal .button-container a.button br{
  @media (width > 769px) {
    display: none;
  }
}